.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  align-items: center;
  width: 60vw;
}
img {
  width: 100px;
  height: 100px;
  margin: 5px;
  justify-self: center;
  align-self: center;
}
body {
  background-image: url('Photos/MineCraft/sunset.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  align-items: center;
  font-size: 75px;
  opacity: 0.8;
  font-weight: 800;
  text-shadow: 4px 4px 4px white;
}

main {
  display: flex;
  justify-content: center;
}
span {
  width: 20vw;
  font-family: 'Press Start 2P', cursive;
  font-weight: 900;
  font-size: 35px;
}
.missed {
  text-shadow: 4px 4px 4px red;
  color: white;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.made {
  text-shadow: 4px 4px 4px greenyellow;
  color: white;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  font-family: 'Press Start 2P', cursive;
  width: 100vw;
  justify-content: space-around;
}

.main {
  float: left;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 2px solid white;
}
.restart {
  float: right;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 2px solid white;
}
.madeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.missedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.missedDisplay {
  font-size: 50px;
  font-family: 'Audiowide', cursive;
  color: red;
}
.madeDisplay {
  font-size: 50px;
  font-family: 'Audiowide', cursive;
  color: greenyellow;
}
